
body {
    font-family : arial, verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 12px;
}

#pagecontainer {
	margin: 0 auto;
	padding: 5px 5px 5px 5px;
	width: 865px;
	border: 2px solid #666666;
	}

#header {
    overflow:visible;
	background-color: black;
	height: 70px; 
	border: 1px solid #666666;
}

.headerLogo {
	margin-left: 20px;
	margin-top: 15px; 
	float:none;
}

.identifierText {
	padding: 15px 0px 0px 5px;
	font: bold 15px Helvetica, Arial, Sans-serif;
	color: #FFFFFF;
	height: 15px; 
	left: 240px;
	border-left: 1px solid #5C5C5C;
	margin-top: 10px;
	position: relative;
	top: -53px;
	overflow: visible;
}

#menuandcontent {
	padding: 5px 0 5px 0;
}

#messages {
	position:relative; 
	left:110px; 
	white-space: pre;
}
	
#content {
	position:relative; 
	left:110px; 
	width: 743px;
	border: 1px solid #666666;
	padding-left: 10px;
	padding-bottom: 10px;
}
	
#mainmenu {
	text-align:right;
	position:absolute; 
	width: 103px;
	top: 91px;
	background-color: darkorange;
	border: 1px solid #666666;
}
	
#footer {
	text-align:center;
	background-color: darkorange;
	border: 1px solid #666666;
}
#probeDataDiv {
/*	position:relative; 
	top: 30px;   */
}

#protoStringDiv{
	padding-top: 10px;
	padding-left: 20px;
}

/* panelGrid classes */
.labelcol {
    background-color: lightgray;
	text-align: right;
	width: 130px;
	font-weight: bold;
}
.iocol {
	text-align: center;
	width: 240px;
}
.descriptioncol {
    background-color: lightgray;
	width: 330px;
}
.row {
    font-style: italic;
}
.caption {
    background-color: lightgray;
    font-style: inherit;
    font-weight: bolder;
}
.header {
	text-align:left;
    font-style: oblique;
	font-size: 16px;
}
.footer {
    font-style: oblique;
}

/*
a:hover
{ color: #333366; text-decoration: underline; }

.error {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
}

h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #fcb100;
}
*/