<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

		<mapping resource="de/jeets/model/traccar/hibernate/AttributeAliases.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Databasechangelog.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Databasechangeloglock.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/DeviceGeofence.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Devices.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Events.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Geofences.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/GroupGeofence.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Groups.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Notifications.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Positions.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Server.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Statistics.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/UserDevice.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/UserGeofence.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/UserGroup.hbm.xml"/>
		<mapping resource="de/jeets/model/traccar/hibernate/Users.hbm.xml"/>

		<!-- use class definitions for annotated Entities! (hibernate.cfg.xml ~ persistence.xml)
		<mapping class="de.jeets.model.traccar.hibernate.AttributeAliases"/>
		<mapping class="de.jeets.model.traccar.hibernate.Databasechangelog"/>
		<mapping class="de.jeets.model.traccar.hibernate.Databasechangeloglock"/>
		<mapping class="de.jeets.model.traccar.hibernate.DeviceGeofence"/>
		<mapping class="de.jeets.model.traccar.hibernate.Devices"/>
		<mapping class="de.jeets.model.traccar.hibernate.Events"/>
		<mapping class="de.jeets.model.traccar.hibernate.Geofences"/>
		<mapping class="de.jeets.model.traccar.hibernate.GroupGeofence"/>
		<mapping class="de.jeets.model.traccar.hibernate.Groups"/>
		<mapping class="de.jeets.model.traccar.hibernate.Notifications"/>
		<mapping class="de.jeets.model.traccar.hibernate.Positions"/>
		<mapping class="de.jeets.model.traccar.hibernate.Server"/>
		<mapping class="de.jeets.model.traccar.hibernate.Statistics"/>
		<mapping class="de.jeets.model.traccar.hibernate.UserDevice"/>
		<mapping class="de.jeets.model.traccar.hibernate.UserGeofence"/>
		<mapping class="de.jeets.model.traccar.hibernate.UserGroup"/>
		<mapping class="de.jeets.model.traccar.hibernate.Users"/>
 -->
    </session-factory>

</hibernate-configuration>